*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
    
}
.header-menu{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.menu{
    display: flex;
}
.menu > div{
    padding: 30px;
}
div{
    height: 100px;
    border: 1px solid black;
}
section{
    width: 1000px;
    
}
footer{
    height: 300px;
    width: 100%;
    display: flex;
}
footer > section{
    width: 100px;
    height: 500px;
}
.pan{
    width: 300px;
    height: 300px;
}